<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MobileManagerEntities" connectionString="metadata=res://*/Data.MobileManagerEntities.csdl|res://*/Data.MobileManagerEntities.ssdl|res://*/Data.MobileManagerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VDB-ISS;initial catalog=IOBM-MobileManager;user=IOBMUser;password=appuser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="MobileManagerEntities" connectionString="metadata=res://*/Data.MobileManagerEntities.csdl|res://*/Data.MobileManagerEntities.ssdl|res://*/Data.MobileManagerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.25.102.209\Spectrim;initial catalog=MobileManager;user=MobileManagerUser;password=appuser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MobileManagerEntities" connectionString="metadata=res://*/Data.MobileManagerEntities.csdl|res://*/Data.MobileManagerEntities.ssdl|res://*/Data.MobileManagerEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRD-NB25066;initial catalog=MobileManager_Dev;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IOBMEntities" connectionString="metadata=res://*/Data.IOBMModel.csdl|res://*/Data.IOBMModel.ssdl|res://*/Data.IOBMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VDB-ISS;initial catalog=IOBM;user=IOBMUser;password=appuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="IOBMEntities" connectionString="metadata=res://*/Data.IOBMModel.csdl|res://*/Data.IOBMModel.ssdl|res://*/Data.IOBMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.25.102.209\Spectrim;initial catalog=IOBM;user=IOBMUser;password=appuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="IOBMEntities" connectionString="metadata=res://*/Data.IOBMModel.csdl|res://*/Data.IOBMModel.ssdl|res://*/Data.IOBMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRD-NB25066;initial catalog=IOBM_Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IOBMDomain" connectionString="LDAP://gijima.com/DC=gijima,DC=com" />
    <add name="MobileManagerDomain" connectionString="LDAP://gijima.com/DC=gijima,DC=com" />
  </connectionStrings>
  <appSettings>
    <add key="TransactionScopeTimeOutInMinute" value="3" />
    <add key="ReportPath" value="\\VDB-ISS\IOBM$\Deployment\Production\Reports\" />
    <!--<add key="ReportPath" value="c:\ProgramData\MobileManager\Reports\" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>